.inline {
	display: inline-block;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.updated {
	font-size: 12px;
}

.card {
    /* Add shadows to create the "card" effect */
    margin: 10px;
   	padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contributor: {
	
}

.contributor-img {
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

.contributor-info {
	text-decoration: none !important;
	padding-left: 10px;
}

