<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="#" class="btn">A</a>
  <a href="#" class="btn">B</a>
  <a href="#" class="btn">C</a>
  <a href="#" class="btn">D</a>
  <a href="#" class="btn">E</a>
  <a href="#" class="btn">F</a>
  <a href="#" class="btn">G</a>
  <a href="#" class="btn">H</a>
  <a href="#" class="btn">I</a>
  <a href="#" class="btn">J</a>
  <a href="#" class="btn">K</a>
  <a href="#" class="btn">L</a>
  <a href="#" class="btn">M</a>
  <a href="#" class="btn">N</a>
  <a href="#" class="btn">O</a>
  <a href="#" class="btn">P</a>
  <a href="#" class="btn">Q</a>
  <a href="#" class="btn">R</a>
  <a href="#" class="btn">S</a>
  <a href="#" class="btn">T</a>
  <a href="#" class="btn">U</a>
  <a href="#" class="btn">V</a>
  <a href="#" class="btn">W</a>
  <a href="#" class="btn">X</a>
  <a href="#" class="btn">Y</a>
  <a href="#" class="btn">Z</a>
</section>