<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/A" class="btn">A</a>
  <a href="/B" class="btn">B</a>
  <a href="/C" class="btn">C</a>
  <a href="/D" class="btn">D</a>
  <a href="/E" class="btn">E</a>
  <a href="/F" class="btn">F</a>
  <a href="/G" class="btn">G</a>
  <a href="/H" class="btn">H</a>
  <a href="/I" class="btn">I</a>
  <a href="/J" class="btn">J</a>
  <a href="/K" class="btn">K</a>
  <a href="/L" class="btn">L</a>
  <a href="/M" class="btn">M</a>
  <a href="/N" class="btn">N</a>
  <a href="/O" class="btn">O</a>
  <a href="/P" class="btn">P</a>
  <a href="/Q" class="btn">Q</a>
  <a href="/R" class="btn">R</a>
  <a href="/S" class="btn">S</a>
  <a href="/T" class="btn">T</a>
  <a href="/U" class="btn">U</a>
  <a href="/V" class="btn">V</a>
  <a href="/W" class="btn">W</a>
  <a href="/X" class="btn">X</a>
  <a href="/Y" class="btn">Y</a>
  <a href="/Z" class="btn">Z</a>
</section>