<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/a" class="btn">A</a>
  <a href="/b" class="btn">B</a>
  <a href="/c" class="btn">C</a>
  <a href="/d" class="btn">D</a>
  <a href="/e" class="btn">E</a>
  <a href="/f" class="btn">F</a>
  <a href="/g" class="btn">G</a>
  <a href="/h" class="btn">H</a>
  <a href="/i" class="btn">I</a>
  <a href="/k" class="btn">K</a>
  <a href="/l" class="btn">L</a>
  <br>
  <a href="/m" class="btn">M</a>
  <a href="/n" class="btn">N</a>
  <a href="/o" class="btn">O</a>
  <a href="/p" class="btn">P</a>
  <a href="/q" class="btn">Q</a>
  <a href="/r" class="btn">R</a>
  <a href="/s" class="btn">S</a>
  <a href="/t" class="btn">T</a>
  <a href="/u" class="btn">U</a>
  <a href="/v" class="btn">V</a>
  <a href="/w" class="btn">W</a>
  <a href="/z" class="btn">Z</a>
</section>